vpn.filipmikina.com {
        reverse_proxy wg-easy:51821
        tls internal
}

pihole.home.filipmikina.com {
        reverse_proxy pihole.vpn.filipmikina.com:8080
        tls internal
}

https://secrets.home.filipmikina.com {
        reverse_proxy black-cat:10080
        tls internal
}
